.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
}

.product {
    border: 1px solid white;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}